<VirtualHost *:80>

        ServerAdmin webmaster@localhost
        ProxyPreserveHost On
        ProxyPass / http://{{ app_ip }}/
        ProxyPassReverse / http://{{ app_ip }}/

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
